{
  "presets": [
    ["es2015",  {"modules": false}],
    ["stage-3"]
  ],
  "plugins": [
    "add-filehash",
    ["transform-imports", {
        "vuetify": {
            "transform": "vuetify/src/components/${member}"
        }
    }]
  ]
}
