/** Stylus Styles */
$theme := {
  primary: #DB2627
  accent: #FF8A80
  secondary: #00C097
  info: #26A69A
  warning: #E0B300
  error: #FF2F30
  success: #00C097
}
@import '../../node_modules/vuetify/src/stylus/main'